.main {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: auto;

}

.block {
    background: linear-gradient(135deg, rgb(95, 95, 163), rgb(212, 134, 212));
    padding: 10px 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    color: white;
}

